{% extends 'base.html' %}

{% block head %}
<title>What's your Issue?</title>
{% endblock %}


{% block body %}
<div class="content">
    <div id="mainPicture">
        <div class="picture">
            <div id="headerTitle">{{Name}}</div>
            <div id="headerTitle">{{username}}</div>
            <div id="headerTitle">Current Role: {{Role}}</div>
        </div>
    </div>
    <hr><br>
    <div class="picture">
    <div class="form">
        <form action="{{url_for('addissue')}}" method="POST">
            <input class="inputbox" type="text" name="title" id="title" placeholder="Title"><br>
            <input class="inputbox" type="text" name="description" id="description" placeholder="Description"><br>
            <input class="inputbox" type="text" name="gitlink" id="gitlink" placeholder="Github-link"><br>
            <input class="inputbox" type="text" name="tags" placeholder="Enter tags separated by comma">
            <br>
            <div  style="text-align: center;">
                <p style="text-align: center; font-size: 20px; font-family: 'Baumans'">State of the issue:</p>
             <select name="state" id="state" placeholder="State" style="height: 30px; width: 120px; font-size: 15px">
              <option value="Open" selected>Open</option>
              <option value="Assigned">Assigned</option>
              <option value="Fixed">Fixed</option>
              <option value="Abandoned">Abandoned</option>
            </select>
            <br>
            <br>

            <p style="text-align: center; font-size: 20px; font-family: 'Baumans'">Assignees:(Can be none or one or multiple)</p>
            <select name = "assignees" id = "assignees" multiple style="font-size: 15px">
            <br>
            {% for assignee in list_of_assignees %}
            <option value="{{assignee.username}}">{{assignee.username}}</option>
            {% endfor %}
            </select>
            <br>
            <br>

            <input style="margin: 0 auto;background-color: orange; font-size: 18px;" type="submit" value="Add issue">
        </div>
        </form>
    </div>
    </div>
</div>
{% endblock %}