{% extends 'base.html' %}

{% block head %}
<title>What's your Issue?</title>
{% endblock %}


{% block body %}
<div class="content">
    <div id="mainPicture">
        <div class="picture">
            <div id="headerTitle">{{Name}}</div>
            <div id="headerTitle">{{username}}</div>
            <div id="headerTitle">Current Role: {{Role}}</div>
        </div>
    </div>
    <hr><br>
    <div class="picture">
    <div class="form">
        <form action="{{url_for('addissue')}}" method="POST">
            <input class="inputbox" type="text" name="title" id="title" placeholder="Title"><br>
            <input class="inputbox" type="text" name="description" id="description" placeholder="Description"><br>
            <input class="inputbox" type="text" name="gitlink" id="gitlink" placeholder="Github-link"><br>
            <!--             <label for="tags">Tags:</label>
        	<input type="checkbox" name="tags" value="Good First Issue">Good First Issue</input>
        	<input type="checkbox" name="tags" value="Dependies">Dependies</input>
        	<input type="checkbox" name="tags" value="Enhancement">Enhancement</input>
        	<input type="checkbox" name="tags" value="Bug">Bug</input>
        	<input type="checkbox" name="tags" value="Goals">Goals</input>
        	<input type="checkbox" name="tags" value="Javascript">Javascript</input>
        	<input type="checkbox" name="tags" value="New">New</input>
            <br> -->
            <input class="inputbox" type="text" name="tags" placeholder="Enter tags separated by comma">
            <br>
            <label for="state">State of the issue:</label>
            <select name="state" id="state">
              <option value="Open">Open</option>
              <option value="Assigned">Assigned</option>
              <option value="Fixed">Fixed</option>
              <option value="Abandoned">Abandoned</option>
            </select>
            <br>

            <label for="assignees">Assignees:</label>
            <select name = "assignees" id = "assignees" multiple>
            {% for assignee in list_of_assignees %}
            <option value="{{assignee.username}}">{{assignee.username}}</option>
            {% endfor %}
            </select>

            <input type="submit" value="Add issue">
        </form>
    </div>
    </div>
</div>
{% endblock %}