{% extends 'base.html' %}

{% block head %}
<title>All users</title>
{% endblock %}

{% block body %}
<div class="content">
    <div id="mainPicture">
        <div class="picture">
            <div id="headerTitle">Name: {{Name}}</div>
            <div id="headerTitle">Id: {{username}}</div>
            <div id="headerTitle">Current Role: {{Role}}</div>
        </div>
    </div>
    <br>
<hr>
    <h1 style="text-align: center">Users: </h1>
    {% if users|length < 1 %}
    <h4 style="text-align: center">There are no Users!</h4>
    {% else %}
        {% for user in users %}
            <div class="contentBox">
                <div class="innerBox">
                    <h4 class="id"> Id: {{user.username}}</h4>
                    <h4 class="name">Name : {{user.Name}}</h4>
                    <h4 class="role">Role: {{user.role}}</h4>
                    {% if Role == 'ADMIN' %}
                 <form action="/changerole/{{user.id}}" method="POST">
                    <br>
                        <p>Change Role?&nbsp;
                        <select name="role" id="role" value="{{user.role}}">
                            {% if user.role == 'VIEWER'%}
                                <option value="VIEWER" selected>VIEWER</option>
                            {% else %}
                                <option value="VIEWER">VIEWER</option>
                            {% endif %}
                            {% if user.role == 'EDITOR'%}
                                <option value="EDITOR" selected>EDITOR</option>
                            {% else %}
                                <option value="EDITOR">EDITOR</option>
                            {% endif %}
                            {% if user.role == 'ADMIN'%}
                                <option value="ADMIN" selected>ADMIN</option>
                            {% else %}
                                <option value="ADMIN">ADMIN</option>
                            {% endif %}
                        </select>
                        <button>Save</button>
                    </p>
                    </form>
                    {% endif %}
                </div>
            </div>           
            <br>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}