{% extends 'base.html' %}

{% block head %}
<title>What's your Issue?</title>
{% endblock %}


{% block body %}
<div class="content">
    <h3>Profile: {{username}}</h3>
    <h3>Name: {{Name}}</h3>
    <br><hr><br>
    <h1 style="text-align: center">Issues: </h1>
    {% if issues|length < 1 %}
    <h4 style="text-align: center">There are no issues. Create one below!</h4>
    {% else %}
        {% for issue in issues %}
            <p class="title">{{issue.title}}</p>
            <p class="description">{{issue.description}}</p>
            <p class="gitlink">{{issue.gitlink}}</p>
            <p class="state">{{issue.state}}</p>
            <p class="tags">{{issue.tags}}</p>
            <p class="date">{{issue.date_created.date()}}</p>
        {% endfor %}
    {% endif %}

    <div class="form">
        <form action="/addissue" method="POST">
            <input type="text" name="title" id="title">
            <input type="text" name="description" id="description">
            <input type="text" name="gitlink" id="gitlink">
            <input type="text" name="state" id="state">
            <input type="text" name="tags" id="tags">
            <input type="submit" value="Add issue">
        </form>
    </div>
</div>
{% endblock %}