{% extends 'base.html' %}

{% block head %}
<title>What's your Issue?</title>
{% endblock %}

{% block body %}
<div class="content">
    <div id="mainPicture">
        <div class="picture">
            <div id="headerTitle">Name: {{Name}}</div>
            <div id="headerTitle">Id: {{username}}</div>
            <div id="headerTitle">Current Role: {{Role}}
        </div>
        </div>
    </div>
    <br><hr><br>
    <p style="text-align: center;">
        {% if Role == "VIEWER" %}
            <p></p>
        {% else %}
            <a href="{{ url_for('addissue') }}"><button class="createis">Create a New Issue?</button></a>
        {% endif %}
    </p>
    <h1 style="text-align: center">My Issues: </h1>
    {% if myissues|length < 1 %}
    <h2 style="text-align: center">You have  no issues.</h2>
    {% else %}
        {% for issue in myissues %}
        <div class="contentBox">
                <div class="innerBox">
                    <h1> {{issue.title}}</h1>
                    <h4 class="tags"> Tags: {{issue.tags}}</h4>
                    <h4 class="state">State: {{issue.state}}</h4>                  
                    <h4> Date Created: {{issue.date_created.date()}}</h4>
                    <h4 class="assignees">Assignees: {{issue.assignees}}</h4>
                    <br>
                    <div class="contentText" style="font-size: 22px">
                        <h4>About this issue:</h4>
                        <p> {{issue.description}}</p>
                        <br>
                        <p>
                            <p><a href="/update/{{issue.id}}"><button class="button" >Edit this issue</button></a>
                            <a href="/delete/{{issue.id}}"><button class="delis">Delete this issue</button></a></p>
                        </p>
                    </div>
                    
                </div>
            </div>
            <br><br>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}